<div class="main-footer-block">
    <div class="main-footer-block__main-box">
        <div class="main-footer-block__main-box__1">
            <div class="main-footer-block__main-box__1__a1">
                <div>
                    <a class="navbar-brand logo" [routerLink]="'/home'" (click)=" scrollToTop()"></a>
                </div>
            </div>
            <div class="main-footer-block__main-box__1__b1">
                <div>
                    <a ngbDropdownItem [routerLink]="'/discount'" (click)=" scrollToTop()">Акції</a>
                </div>
                <div>
                    <a ngbDropdownItem [routerLink]="'/about-us'" (click)=" scrollToTop()">Про нас</a>
                </div>
                <div>
                    <a ngbDropdownItem [routerLink]="'/offer-contract'" (click)=" scrollToTop()">Оферта</a>
                </div>
            </div>
            <div class="main-footer-block__main-box__1__c1">
                <div>
                    <p><strong>Точки самовивозу</strong></p>
                    <p>вул. Володимира Великого, 10в</p>
                    <p>вул. Чорновола, 95</p>
                </div>
                <div>
                    <p><strong>Оформити замовлення</strong></p>
                    <a href="tel:097878098977" target="_blank">(097) 878 08 37</a>
                </div>
                <div>
                    <p><strong>Графік роботи</strong></p>
                    <p>працюємо з 11:00 до 21:30</p>
                </div>
            </div>
        </div>
        <div class="main-footer-block__main-box__2">
            <div class="main-footer-block__main-box__2__a2">
                <div>
                    <span>© 2023 Monosushi</span>
                </div>
            </div>
            <div class="main-footer-block__main-box__2__b2">
                <div class="b2-img1"></div>
                <div class="b2-img2"></div>
                <div class="b2-img3"></div>
            </div>
        </div>
    </div>
</div>

