@import "../shared/styles/fonts";
@import "../shared/styles/variables";

.dtn-nav {
  display: block;
  width: 150px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 0;
  font-size: 16px;
  color: black;
  border-top: none;
  border-left: none;
  background-color: rgba(220, 220, 220, 0.1);
}
.active-plus {
  background-color: transparent;
  border-top: 3px solid $mainColor;
  border-right: none;
  font-weight: bold;
}
.exit-btn {
  align-self: center;
  margin-top: 20px;
  display: block;
  width: 85px;
  height: 50px;
  background-color: $mainColor;
  border: 2px solid transparent;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  &:hover {
    background-color: transparent;
    border: 2px solid $mainColor;
  }
}
