@import "../../shared/styles/variables";

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-group {
  .mat-form-field {
    width: 100%;
  }
}

.input-style {
  width: 100%;
  height: 70%;
  border-radius: 15px;
  border: 1px solid lightgray;
}
.inp-left {
  padding-left: 0;
}
.inp-right {
  padding-right: 0;
}
.btn-submit {
  display: block;
  height: 60px;
  color: black;
  border-radius: 15px;
  border: 2px solid transparent;
  background-color: $mainColor;
  font-size: 18px;
  font-weight: bold;
  &:hover {
    border: 2px solid $mainColor;
    background-color: transparent;
  }
}
.header {
  cursor: default;
}
.txt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  text-decoration: none;
  color: $mainColor;
}
a {
  cursor: pointer;
}
