@import "../../shared/styles/variables";

@media all and(max-width:768px) {
  .main-container {
    display: flex;
    flex-flow: column;
    width: 90%;
    height: auto;
    margin: 0 auto;
    &__box {
      width: 100%;
    }
    .btn-style {
      width: 90%;
      font-size: 1em;
    }
  }
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 20px;
  div {
    width: fit-content;
    .blue-line {
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 15px;
      background-color: $mainColor;
    }
  }
}
.card {
  height: fit-content;
  &__img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    overflow: hidden;
    transition: width 0.35s;

    &__card-img {
      width: 100%;
      &:hover {
        width: 105%;
      }
    }
  }
}
.no-border {
  border: none;
  text-decoration: none;
  overflow: hidden;
  &:hover {
    .card-name {
      color: $mainColor;
    }
  }
}
.card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid $mainColor;
  color: black;
  &:hover {
    color: $mainColor;
  }
}
.btn-style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 46px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: $mainColor;
  border: 2px solid transparent;
  margin: 0 auto;
  &:hover {
    color: $mainColor;
    background-color: transparent;
    border: 2px solid $mainColor;
  }
}
