@import "../../shared/styles/variables";

@media all and (min-width: 1020px) {
  .main-block {
    &__1 {
      flex-flow: row wrap;
      width: 100%;
      height: 300px;
      &__green-zone,
      &__yellow-zone {
        width: 50%;
        height: 100%;
        &__text {
          width: 45%;
        }
      }
    }
    &__4 {
      &__delivery {
        flex-flow: row nowrap;
        &__1,
        &__2 {
          width: 50%;
          height: 100%;
        }
        &__3,
        &__5 {
          width: 65%;
        }
      }
      .line-separator {
        display: block;
      }
    }
  }
}
@media all and (min-width: 501px) {
  .main-block__2 {
    display: flex;
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  .main-block__2 {
    display: none;
  }
}
@media all and (min-width: 769px) and (max-width: 1020px) {
  .main-block {
    &__1 {
      flex-flow: row wrap;
      width: 100%;
      height: 600px;
      &__green-zone,
      &__yellow-zone {
        width: 65%;
        height: 50%;
        &__text {
          width: 45%;
        }
      }
    }
    &__4 {
      &__delivery {
        flex-flow: row nowrap;
        &__1,
        &__2 {
          width: 65%;
          height: 50%;
        }
        &__3,
        &__5 {
          width: 70%;
        }
      }
      .line-separator {
        display: block;
      }
    }
  }
}
@media all and (min-width: 346px) and (max-width: 768px) {
  .main-block {
    &__1 {
      flex-flow: row wrap;
      width: 100%;
      height: 50rem;
      &__green-zone,
      &__yellow-zone {
        flex-flow: column nowrap;
        width: 100%;
        height: 50%;
        &__text {
          max-width: 16rem;
          width: auto;
        }
      }
    }
    &__4 {
      &__delivery {
        flex-flow: wrap;
        &__1,
        &__2 {
          width: 80%;
          height: 50%;
          &__text {
            width: auto;
          }
        }
        &__3,
        &__5 {
          width: 80%;
        }
      }
      .line-separator {
        display: none;
      }
    }
  }
}
@media all and (max-width: 345px) {
  .main-block {
    &__1 {
      flex-flow: row wrap;
      width: 100%;
      height: 50rem;
      &__green-zone,
      &__yellow-zone {
        flex-flow: column nowrap;
        width: 100%;
        height: 50%;
        &__text {
          max-width: 16rem;
          width: auto;
        }
      }
    }
    &__4 {
      &__delivery {
        flex-flow: wrap;
        &__1,
        &__2 {
          flex-flow: column;
          width: 100%;
          height: 50%;
          &__text {
            width: auto;
          }
        }
        &__3,
        &__5 {
          width: 90%;
        }
      }
      .line-separator {
        display: none;
      }
    }
  }
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 20px;
  div {
    width: fit-content;
    .blue-line {
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 15px;
      background-color: $mainColor;
    }
  }
}
.main-block {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 20px auto 50px auto;
  &__1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    &__green-zone,
    &__yellow-zone {
      display: flex;
      align-items: center;
      padding: 0 20px;
      &__img {
        display: block;
        width: 55%;
        height: 100%;
        background-image: url(../../../assets/delivery/mn-delivery-img.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
      &__text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: center;
        &__1 {
          font-size: 30px;
          font-weight: bold;
        }
        &__2,
        &__3 {
          font-size: 17px;
          span {
            font-weight: bold;
          }
        }
      }
    }
    &__green-zone {
      &__text {
        &__1 {
          color: #27ae60;
        }
        &__2,
        &__3 {
          span {
            color: #27ae60;
          }
        }
      }
    }
    &__yellow-zone {
      &__text {
        &__1 {
          color: #f2c94c;
        }
        &__2,
        &__3 {
          span {
            color: #f2c94c;
          }
        }
      }
    }
  }
  &__2 {
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
    overflow: auto;
  }
  &__3,
  &__5 {
    display: block;
    height: fit-content;
    font-size: 18px;
    margin-bottom: 50px;
    color: grey;
  }
  &__4 {
    display: flex;
    flex-flow: column nowrap;
    width: 65%;
    height: fit-content;
    margin-bottom: 50px;
    &__header {
      display: block;
      width: 100%;
      height: 10%;
      font-size: 43px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
    }

    &__delivery {
      display: flex;
      justify-content: center;

      width: 100%;
      height: 90%;
      &__1,
      &__2 {
        display: flex;
        &__img {
          display: block;
          min-width: 70px;
          min-height: 70px;
          width: 70px;
          height: 70px;
          border-radius: 15px;
          background-color: $mainColor;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 15px;
        }

        &__text {
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-start;
          justify-content: space-evenly;
          width: 70%;
          height: 100%;
          font-size: 17px;
          padding-top: 15px;
        }
      }
      &__1 {
        &__img {
          background-image: url(../../../assets/delivery/pay-info-img-3.svg);
          background-size: 75%;
        }
      }
      &__2 {
        &__img {
          background-image: url(../../../assets/delivery/pay-info-img-1.svg);
          background-size: 55%;
        }
      }
      .line-separator {
        width: 1px;
        height: 7rem;
        border: 0.2px solid lightgray;
        margin: 0 15px;
      }
    }
  }
}
