@import "../../shared/styles/variables";

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 20px;
  div {
    width: fit-content;
    .blue-line {
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 15px;
      background-color: $mainColor;
    }
  }
}
