<div class="main-header-block">
    <div class="bg-gray-3" [style]="visibility3" (click)="sideMenuToggle()"></div>
    <div class="main-header-block__1">
        <nav class="navbar navbar-expand-lg bg-light p-0 nav-cont bg-white w-100">
            <div class="container-fluid p-0 all-menu">
                <a class="navbar-brand logo" [routerLink]="'/home'"></a>
                <div class="collapse navbar-collapse category-bar" id="navbarSupportedContent">
                    <ul class="category navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item category-box category-box__1" [routerLink]="'/discount'">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Акції</span>
                            </div>
                        </li>
                        <li class="nav-item category-box category-box__2" [routerLink]="'/product/rolls'">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Роли</span>
                            </div>
                        </li>
                        <li class="nav-item category-box category-box__3" [routerLink]="'/product/set'">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Сети</span>
                            </div>
                        </li>
                        <li class="nav-item category-box category-box__4" [routerLink]="'/product/drinks'">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Напої</span>
                            </div>
                        </li>
                        <li class="nav-item category-box category-box__5" [routerLink]="'/product/sauces'">
                            <div class="container-fluid d-flex flex-column">
                                <div></div>
                                <span>Соуси</span>
                            </div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col d-flex flex-column">
                            <div ngbDropdown class="d-inline-block">
                                <button type="button" class="btn drpdwn" id="dropdownBasic1" ngbDropdownToggle
                                    (click)="changeValue()" [style]="toolDrpdwnMenu"
                                    (blur)="drpdwnMenu=true;changeValue()"></button>
                                <div class="drpdwn-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem [routerLink]="'/delivery-and-payment'">Доставка та
                                        оплата</button>
                                    <button ngbDropdownItem [routerLink]="'/about-us'">Про
                                        нас</button>
                                    <button ngbDropdownItem [routerLink]="'/discount'">Акції</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container we-will-call">
                    <button class="we-will-call__btn" (click)="openCallDialog()">
                        <div class="img-phone"></div>
                        <span>МИ ЗАТЕЛЕФОНУЄМО</span>
                    </button>
                </div>
                <div class="container phone-box">
                    <a href="tel:097878098977">(097) 878 08 37</a>
                    <div>Працюємо з <strong>11:00</strong> до <strong>21:30</strong></div>
                </div>
                <div class="container admin-in">
                    <a href="tel:097878098977" class="cell-phone"></a>
                    <ng-container *ngIf="!loginAdminCheck && !loginUserCheck">
                        <button type="button" class="btn admin-office" (click)="openLoginDialog()"></button>
                    </ng-container>
                    <ng-container *ngIf="loginAdminCheck && !loginUserCheck">
                        <button type="button" class="btn admin-office" [routerLink]="'/admin'"
                            style="line-height: 1px;">*</button>
                    </ng-container>
                    <ng-container *ngIf="loginUserCheck && !loginAdminCheck">
                        <button type="button" class="btn admin-office" [routerLink]="'/account'"
                            style="line-height: 1px;"></button>
                    </ng-container>

                    <button type="button" class="btn drpdwn-2" (click)="sideMenuToggle()"
                        [style]="toolsideMenu"></button>
                </div>
                <button type="button" class="container basket-in"
                    (click)="basketOpenCheck?openBasketDialog():onNoClick()">
                    <div class="basket-in__img">
                        <div class="bascket-before" [style]="toolBasketBg"></div>
                    </div>
                    <div class="basket-in__count">
                        <div class="basket-in__count__circle" [style]="toolcountArtBg">{{countArticle}}</div>
                    </div>
                    <div class="basket-in__count-cash"><strong>{{ total }}</strong><span>грн</span></div>
                </button>
            </div>
        </nav>
    </div>
</div>

<div class="side-menu" [style]="visibility3">
    <div class="side-menu__box1">
        <div class="container-fluid d-flex flex-row sauces-2">
            <div></div>
            <span>Соуси</span>
        </div>
        <div class="d-flex flex-column">
            <a [routerLink]="'/delivery-and-payment'" class="py-2">Доставка та оплата</a>
            <a [routerLink]="'/about-us'" class="py-2">Про нас</a>
            <a [routerLink]="'/discount'" class="py-2">Акції</a>
        </div>
        <div class="container phone-box-2 py-3">
            <a href="tel:097878098977">(097) 878 08 37</a>
            <div>Працюємо з <strong>11:00</strong> до <strong>21:30</strong></div>
        </div>
    </div>
    <div class="we-will-call-2">
        <button class="we-will-call-2__btn" (click)="openCallDialog()">
            <div class="img-phone-2"></div>
            <span>МИ ЗАТЕЛЕФОНУЄМО</span>
        </button>
    </div>
</div>