<div class="basket-out__block-1">
    <ng-container *ngIf="basket.length < 1">
        <div class="nothing-here">
            <div></div>
            <p><strong>Кошик порожній</strong></p>
            <button type="button" class="to-home-page-btn" [routerLink]="['/home']"
                (click)="onNoClick()"><strong>ПЕРЕЙТИ ДО
                    КАТАЛОГУ</strong></button>
        </div>
    </ng-container>
    <ng-container *ngFor="let product of basket; index as i">
        <div class="product-to-buy">
            <div class="product-to-buy__img col-3">
                <img [src]="product.imagePath">
            </div>
            <div class="product-to-buy__name col-4">
                <span><strong>{{product.name}}</strong></span>
            </div>
            <div class="product-to-buy__order">
                <div class="product-to-buy__order__2">
                    <button (click)="productCount(product, false)" class="decrement">-</button>
                    <input [value]="product.count" type="text" readonly class="product-qty">
                    <button (click)="productCount(product, true)" class="increment">+</button>
                </div>
                <div class="product-to-buy__order__1">
                    <strong><span>{{product.price * product.count}}</span></strong>
                    <span> грн</span>
                </div>
                <div class="product-to-buy__order__3">
                    <button (click)="deleteFromBasket(i)"></button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="basket-out__block-2">
    <div>
        <p>Сума: <strong>{{ total }}</strong> грн</p>
    </div>
    <button type="button" [disabled]="basket.length < 1" [routerLink]="'/checkout'"
        (click)="onNoClick();  scrollToTop()"><strong>ОФОРМИТИ
            ЗАМОВЛЕННЯ</strong></button>
</div>