<div class="col-12 main-block">
    <div class="pl-0 mb-4 container d-flex align-items-center">
        <div class="squad">1</div>
        <h4 class="card-title">Особисті дані</h4>
    </div>
    <div class="container">
        <form [formGroup]="userDataForm" (ngSubmit)="userDataChange()">
            <div class="form-group row col-12 d-flex justify-content-between">
                <div class="col-6 inp-left">
                    <mat-form-field class="col-12" appearance="outline" color="primary">
                        <mat-label>Ваше ім'я</mat-label>
                        <input matInput type="text" formControlName="firstName">
                    </mat-form-field>
                </div>
                <div class="col-6 inp-right">
                    <mat-form-field class="col-12" appearance="outline" color="primary">
                        <mat-label>Ваше прізвище</mat-label>
                        <input matInput type="text" formControlName="lastName">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 form-group">
                <mat-form-field class="col-12" appearance="outline" color="primary">
                    <mat-label>Ваш телефон</mat-label>
                    <input matInput type="tel" formControlName="phoneNumber" autocomplete="on">
                </mat-form-field>
            </div>
            <div class="col-12 form-group">
                <mat-form-field class="col-12" appearance="outline" color="primary">
                    <mat-label>Ваш email</mat-label>
                    <input matInput type="email" formControlName="email" autocomplete="on">
                </mat-form-field>
            </div>
            <div class="pl-0 my-4 container d-flex align-items-center">
                <div class="squad">2</div>
                <h4 class="card-title">Адреси</h4>
            </div>
        </form>
        <div class="col-12  main-bottom-block row d-flex justify-content-between">
            <button class="col-5 btn btn-submit-1" (click)="openBasketDialog()">ДОДАТИ АДРЕСУ</button>
            <button class="col-5 btn btn-submit-2" [disabled]="userDataForm.invalid" (click)="userDataChange()">ЗБЕРЕГТИ
                ЗМІНИ</button>
        </div>
    </div>
</div>