<div class="col-10">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div class="col-12">
            <div class="mb-3">
                <input formControlName="currentPass" type="password" class="form-control"
                    placeholder="*Ваш поточний пароль" autocomplete="false">
            </div>
            <div class="mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="*Новий пароль"
                    autocomplete="false">
            </div>
            <div class="mb-3">
                <input formControlName="repeatNewPass" type="password" class="form-control"
                    placeholder="*Повторіть пароль" autocomplete="false">
            </div>
        </div>
        <button [disabled]="changePasswordForm.invalid" type="submit" class="btn btn-submit col-6 m-auto">ЗМІНИТИ
            ПАРОЛЬ</button>
    </form>
</div>